#!/bin/bash

{
        echo instance-id: id-{{ random_num }}
        echo local-hostname: {{ test_os }}
} >meta-data

printf "#cloud-config
users:
  - default
disable_root: false
runcmd:
- echo 'PermitRootLogin yes' >> /etc/ssh/sshd_config
- systemctl reload sshd
ssh_authorized_keys:
  - {{ ssh_pubkey_content }}
{% if 'rhel' in test_os %}
write_files:
- path: /etc/yum.repos.d/eng.repo
  permissions: '0644'
  content: |
    [RHEL-\$releasever-AppStream]
    name = RHEL-\$releasever-AppStream
    baseurl = http://{{ download_node }}/rhel-\$releasever/nightly/RHEL-\$releasever/latest-RHEL-\$releasever/compose/AppStream/\$basearch/os/
    enabled = 1
    gpgcheck = 0

    [RHEL-\$releasever-BaseOS]
    name = RHEL-\$releasever-BaseOS
    baseurl = http://{{ download_node }}/rhel-\$releasever/nightly/RHEL-\$releasever/latest-RHEL-\$releasever/compose/BaseOS/\$basearch/os/
    enabled = 1
    gpgcheck = 0
  owner: 'root:root'
{% endif %}
" >user-data
xorriso -as mkisofs -input-charset utf8 -o nocloud.iso -volid cidata -joliet -rock user-data meta-data
[[ -w {{ image_path }} ]] && mv nocloud.iso {{ image_path }}
