---
- hosts: cloud
  gather_facts: false
  become: false
  vars:
    test_os: "{{ lookup('env', 'TEST_OS') | default('centos-stream-9', true) }}"
    arch: "{{ lookup('env', 'ARCH') | default('x86_64', true) }}"
    ssh_key_pub: ""
    inventory_file: ""
    download_node: "{{ lookup('env', 'DOWNLOAD_NODE') | default('', true) }}"
    instance_name: "bootc-{{ test_os }}"
    image_path: "/var/lib/libvirt/images"
    bib: "false"

  tasks:
    - set_fact:
        random_num: "{{ 9999 | random(start=1001) }}"

    - name: Get CentOS-Stream-GenericCloud image filename
      block:
        - name: Get CentOS-Stream-GenericCloud image filename
          shell: curl -s https://composes.stream.centos.org/production/latest-CentOS-Stream/compose/BaseOS/{{ arch }}/images/ | grep -oP '(?<=href=")CentOS-Stream-GenericCloud-[^"]+.qcow2(?=")'
          register: out

        - set_fact:
            rhel_guest_image_fname: "{{ out.stdout }}"
      when:
        - "'centos' in test_os"
        - bib == "false"

    - name: Get rhel-guest-image filename
      block:
        - name: Get rhel-guest-image filename
          shell: curl -s http://{{ download_node }}/rhel-9/nightly/RHEL-9/latest-RHEL-9.4.0/compose/BaseOS/{{ arch }}/images/ | grep -oP '(?<=href=")rhel-guest-image-[^"]+.qcow2(?=")'
          register: out

        - set_fact:
            rhel_guest_image_fname: "{{ out.stdout }}"
      when:
        - "'rhel' in test_os"
        - bib == "false"

    - name: Download CentOS-Stream-GenericCloud image
      uri:
        url: "https://composes.stream.centos.org/production/latest-CentOS-Stream/compose/BaseOS/x86_64/images/{{ rhel_guest_image_fname }}"
        dest: "{{ image_path }}"
        creates: "{{ image_path }}/{{ rhel_guest_image_fname }}"
        validate_certs: false
      when:
        - "'centos' in test_os"
        - bib == "false"

    - name: Download rhel-guest-image
      uri:
        url: "http://{{ download_node }}/rhel-9/nightly/RHEL-9/latest-RHEL-9.4.0/compose/BaseOS/{{ arch }}/images/{{ rhel_guest_image_fname }}"
        dest: "{{ image_path }}"
        creates: "{{ image_path }}/{{ rhel_guest_image_fname }}"
        validate_certs: false
      when:
        - "'rhel' in test_os"
        - bib == "false"

    - set_fact:
        rhel_guest_image_fname: "disk.qcow2"
      when: bib == "true"

    - name: Read ssh_key_pub content
      command: cat "{{ ssh_key_pub }}"
      register: out

    - set_fact:
        ssh_pubkey_content: "{{ out.stdout }}"

    - name: Start libvirtd service
      command: systemctl start libvirtd.service
      become: true

    - name: Generate libvirt_nocloud.sh
      template:
        src: libvirt_nocloud.sh.j2
        dest: "{{ playbook_dir }}/libvirt_nocloud.sh"
        mode: 0755

    - name: Generate nocloud.iso
      command: "{{ playbook_dir }}/libvirt_nocloud.sh"
      become: true

    - name: Define a VM
      community.libvirt.virt:
        command: define
        xml: "{{ lookup('template', 'libvirt_vm_template.xml.j2') }}"
      become: true

    - name: Start a VM
      community.libvirt.virt:
        name: "{{ instance_name }}"
        state: running
        xml: "{{ lookup('template', 'libvirt_vm_template.xml.j2') }}"
      become: true

    - name: Get VM IP address
      shell:
        virsh domifaddr {{ instance_name }} | grep -oP '(?:\d+\.){3}\d+'
      register: result
      until: result.stdout != ""
      retries: 30
      delay: 10
      become: true

    - set_fact:
        instance_ip: "{{ result.stdout }}"

    - name: Waits until instance is reachable
      wait_for:
        host: "{{ instance_ip }}"
        port: 22
        search_regex: OpenSSH
        delay: 10
      retries: 30
      register: result_ssh_check
      until: result_ssh_check is success

    - name: Add instance ip into host group guest
      add_host:
        name: "{{ instance_ip }}"
        groups: guest

    - name: Wait 10 seconds for VM
      wait_for:
        timeout: 10
      delegate_to: localhost

    - name: Write instance ip to inventory file
      community.general.ini_file:
        path: "{{ inventory_file }}"
        section: guest
        option: guest ansible_host
        value: "{{ instance_ip }}"
        no_extra_spaces: true

    - name: Write random number to inventory file
      community.general.ini_file:
        path: "{{ inventory_file }}"
        section: cloud:vars
        option: random_num
        value: "{{ random_num }}"
        no_extra_spaces: true

    - name: Write instance name to inventory file
      community.general.ini_file:
        path: "{{ inventory_file }}"
        section: cloud:vars
        option: instance_name
        value: "{{ instance_name }}"
        no_extra_spaces: true
